

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: ghostwhite;
}

.navbar li{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.navbar li:hover{
    background-color: lightsteelblue;
}

h1{
    font-size: 1.75em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 90px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.osw{
   font-family: 'Oswald', sans-serif; 
}

.ubu{
 font-family: 'Ubuntu', sans-serif;
}

.con-col{
    padding: 20px;
}

.col{
    padding:20px;
    margin-bottom: 20px;
    background-color:ghostwhite;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    line-height: 2em;
  }
